.row {
    background-color: black;
    color: white;
    border: 1px solid white;
}


.col-2:nth-child(1) {
    background-color: #e8b93d;
}

.col-2:nth-child(2) {
    background-color: darkred;
}

.col-2:nth-child(3) {
    background-color: cornflowerblue;
}